<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- Site Metas -->
   <title>Dream Factory - Responsive HTML5 Landing Page Template</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="shortcut icon" href="images/fevicon.ico.png" type="image/x-icon" />
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <!-- Site CSS -->
   <link rel="stylesheet" href="style.css">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="css/colors.css">
   <!-- ALL VERSION CSS -->
   <link rel="stylesheet" href="css/versions.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- building CSS -->
   <link rel="stylesheet" href="css/building.css">
   </head>
   <body class="building_version" data-spy="scroll" data-target=".header">

     <div id="contact" class="section wb">
        <div class="container">
           <div class="section-title row text-center">
              <div class="col-md-8 col-md-offset-2">
                 <h3>회원가입</h3>
              </div>
              <!-- end col -->
           </div>
           <!-- end title -->
           <div class="row">
              <div class="col-md-8">
                 <div class="contact_form">
                 <div id="message"></div>
                  <form id="contactform" class="row" action="contact.php" name="contactform" method="post">
                   <fieldset class="row-fluid">
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="아이디" id="first_name" class="form-control" placeholder="이름">
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="아이디" id="first_name" class="form-control" placeholder="닉네임">
                     </div>
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input type="date" name="아이디" id="first_name" class="form-control" placeholder="생년월일">
                     </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <input type="text" name="아이디" id="first_name" class="form-control" placeholder="아이디">
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <input type="password" name="비밀번호" id="first_name" class="form-control" placeholder="비밀번호">
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <input type="password" name="first_name" id="first_name" class="form-control" placeholder="비밀번호 확인">
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                         <input type="text" name="last_name" id="last_name" class="form-control" placeholder="이메일">
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                         <input type="email" name="email" id="email" class="form-control" placeholder="휴대폰 번호">
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                         <button type="submit" value="SEND" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">제출</button>
                      </div>
                     </fieldset>
                    </form>
                 </div>
              </div>
              <!-- end col -->
           </div>
           <!-- end row -->
        </div>
        <!-- end container -->
     </div>
     <!-- end section -->
<!-- end col -->

<a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
<!-- ALL JS FILES -->
<script src="js/all.js"></script>
<!-- ALL PLUGINS -->
<script src="js/custom.js"></script>
<script src="js/portfolio.js"></script>
<script src="js/hoverdir.js"></script>
</body>
</html>
