<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- Site Metas -->
   <title>Dream Factory - Responsive HTML5 Landing Page Template</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="shortcut icon" href="images/fevicon.ico.png" type="image/x-icon" />
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <!-- Site CSS -->
   <link rel="stylesheet" href="style.css">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="css/colors.css">
   <!-- ALL VERSION CSS -->
   <link rel="stylesheet" href="css/versions.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- building CSS -->
   <link rel="stylesheet" href="css/building.css">
   </head>
   <body class="building_version" data-spy="scroll" data-target=".header">
      <!-- LOADER -->
      <div id="preloader">
         <img class="preloader" src="images/loaders/loader-building2.gif" alt="">
      </div>
      <!-- end loader -->
      <!-- END LOADER -->
      <header class="header header_style_01">
         <nav class="megamenu navbar navbar-default" data-spy="affix">
            <div class="top-header">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-hidden">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-hidden">
                           <div class="gem-contacts-item gem-contacts-phone">
                              <a class="phone-icon" href="#" target="_blank" title="phone"><i class="fa fa-phone" aria-hidden="true"></i>+82 010-8282-1253</a>
                           </div>
                        </div>
                        <div class="top-area-block top-area-socials socials-colored-hover">
                           <div class="socials inline-inside">
                              <a class="socials-item" href="#" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                              <a class="socials-item" href="#" target="_blank" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                              <a class="socials-item" href="#" target="_blank" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                              <a class="socials-item" href="#" target="_blank" title="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                              <a class="socials-item" href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                              <a class="socials-item" href="#" target="_blank" title="youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="index.html"><img src="images/icon.svg" alt="image"><span>Dream Factory</span></a>
               </div>
               <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                     <li class="active"><a data-scroll href="#home">홈</a></li>
                     <li><a data-scroll href="#about">팀소개 <span class="hidden-xs">*</span></a></li>
                     <li><a data-scroll href="#services">서비스</a></li>
                     <li><a data-scroll href="#projects">인기 프로젝트</a></li>
                     <li><a data-scroll href="#testimonials">인기 리뷰</a></li>
                     <li><a data-scroll href="#price">리뷰 신청</a></li>
                     <li><a data-scroll href="#contact">회원가입</a></li>
                  </ul>
               </div>
            </div>
         </nav>
      </header>
      <div id="home" class="parallax first-section" data-stellar-background-ratio="0.4" style="background-image:url('uploads/building/background.jpg');">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-md-offset-2 text-center">
                  <div class="big-tagline">
                     <img class="border-line-img" src="uploads/building/sep-line-white.png" alt="" />
                     <h2><span style="color:rgb(240, 173, 207)">Dream Factory</span></h2>
                     <img style="margin-bottom:40px;" class="border-line-img" src="uploads/building/sep-line-white.png" alt="" />
                     <p class="lead">Dream Factory 에서 당신의 꿈을 실현하거나 누군가의 꿈을 후원하세요!</p>
                     <a data-scroll href="#services" class="btn btn-light btn-radius btn-brd">프로젝트 등록</a>
                     <a data-scroll href="#services" class="btn btn-light btn-radius btn-brd">프로젝트 후원</a>
                  </div>
               </div>
            </div>
            <!-- end row -->
         </div>
         <!-- end container -->
      </div>
      <!-- end section -->
      <div id="about" class="section wb">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="message-box">
                     <h2>팀소개</h2>
                     <h5>하현수, 김태민, 신영준, 조용범</h5>
                  </div>
                  <!-- end messagebox -->
               </div>
               <!-- end col -->
               <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="message-box">
                     <p class="lead">번뜩이는 아이디어가 있는데 프로젝트를 진행할 팀원이 없어서 아이디어로 그친 경험이 있나요? 사회발전에 기여하면서 투자도 같이 하고 싶었지만, 인프라가 없어서 주저했던 경험이 있나요? 잘 찾아오셨습니다. Dream Factory에서 당신의 꿈을 실현해드립니다. </p>
                     <a href="#" class="read-more">더 알아보기</a>
                  </div>
                  <!-- end messagebox -->
               </div>
               <!-- end col -->
            </div>
            <!-- end row -->
            <div class="row text-center about-row">
               <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="service-widget">
                        <div class="post-media wow fadeIn">
                           <a href="uploads/idea.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                           <img src="uploads/idea.jpg" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>아이디어</h3>
                        <p>아이디어가 떠올랐나요? Dream Factory 에 프로젝트를 등록하고 후원 받으세요.</p>
                     </div>
                     <!-- end service -->
                  </div>
               </div>
               <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="service-widget">
                        <div class="post-media wow fadeIn">
                           <a href="uploads/team.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                           <img src="uploads/team.png" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>팀원모집</h3>
                        <p>프로젝트를 등록했나요? 프로젝트를 진행할 든든한 동료들이 필요하겠죠?  </p>
                     </div>
                     <!-- end service -->
                  </div>
               </div>
               <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="service-widget">
                        <div class="post-media wow fadeIn">
                           <a href="uploads/development.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                           <img src="uploads/development.jpg" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>제품개발</h3>
                        <p>모집한 팀원들과 함께 프로젝트를 진행하여 제품개발을 진행하세요. 세상에! 이렇게 쉽다니...</p>
                     </div>
                     <!-- end service -->
                  </div>
               </div>
            </div>
            <!-- end row -->
         </div>
         <!-- end container -->
         <div class="sep1"></div>
      </div>
      <!-- end section -->
      <div id="services" class="parallax section db parallax-off no-padding-bottom"  >
         <div class="container">
            <div class="row">
               <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                  <div class="message-box">
                     <h2>서비스</h2>
                     <h5>Dream Factory 에서는 다음과 같은 서비스들을 제공합니다.</h5>
                  </div>
                  <!-- end messagebox -->
               </div>
               <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="service-inform">
                           <div class="icon-service">
                              <img src="images/icon1.png" alt="#" />
                           </div>
                           <div class="service-inform-text">
                              <h3>크라우드 펀딩 플랫폼</h3>
                              <p>프로젝트를 진행하려면 당연히 자금도 필요하겠죠?</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="service-inform">
                           <div class="icon-service">
                              <img src="images/icon4.png" alt="#" />
                           </div>
                           <div class="service-inform-text">
                              <h3>개발제품 평가 플랫폼</h3>
                              <p>크라우드 펀딩 규모에 맞지 않는 형편없는 제품은 더 이상은 사양합니다!</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 serv" style="background-color:#222;">
                  <div class="serv-blog">
                     <img src="images/sr1.png" alt="#" />
                  </div>
                  <div class="serv-blog-cont">
                     <h3>크라운드 펀딩</h3>
                     <p>많은 팀자금을 인출하기 위해서는 그에 걸맞는 높은 팀 평판이 필요합니다. 평판이 낮은 스캠 프로젝트는 한푼도 가져갈 수 없어요!</p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 serv" style="background:#181818;">
                  <div class="serv-blog">
                     <img src="images/sr2.png" alt="#" />
                  </div>
                  <div class="serv-blog-cont">
                     <h3>제품 평가</h3>
                     <p>후원자, 제품 사용자, 전문 테스터는 중간중간 제품개발의 진행과정을 평가하거나, 완성제품을 사용해보고 경험을 공유합니다. </p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 serv" style="background:#222;">
                  <div class="serv-blog">
                     <img src="images/sr3.png" alt="#" />
                  </div>
                  <div class="serv-blog-cont">
                     <h3>피드백 및 재개발</h3>
                     <p>형편없는 제품평가를 받으셨나요? 걱정마세요. 피드백을 반영하여 재품을 개선하고 재평가 받으시면 됩니다. 모두가 이루어낸 작품이 탄생하겠네요!</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end section -->
      <div id="projects" class="section">
         <div class="container">
            <div class="row">
               <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                  <div class="message-box">
                     <h2>인기 프로젝트</h2>
                     <h5>현재 꾸고 있는 꿈들 입니다.</h5>
                  </div>
                  <!-- end messagebox -->
               </div>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="container gal-container">
                        <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                           <div class="box">
                              <a href="#" data-toggle="modal" data-target="#1">
                              <img src="images/pro1.jpg" alt="#" />
                              </a>
                              <div class="modal fade" id="1" tabindex="-1" role="dialog">
                                 <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                       <div class="modal-body">
                                          <img src="images/pro1.jpg" alt="#" />
                                       </div>
                                       <div class="col-md-12 description">
                                          <h4>This is the first one on my Gallery</h4>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                           <div class="box">
                              <a href="#" data-toggle="modal" data-target="#2">
                              <img src="images/pro2.jpg" alt="#" />
                              </a>
                              <div class="modal fade" id="2" tabindex="-1" role="dialog">
                                 <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                       <div class="modal-body">
                                          <img src="images/pro2.jpg" alt="#" />
                                       </div>
                                       <div class="col-md-12 description">
                                          <h4>This is the second one on my Gallery</h4>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                           <div class="box">
                              <a href="#" data-toggle="modal" data-target="#3">
                              <img src="images/pro3.jpg" alt="#" />
                              </a>
                              <div class="modal fade" id="3" tabindex="-1" role="dialog">
                                 <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                       <div class="modal-body">
                                          <img src="images/pro3.jpg" alt="#" />
                                       </div>
                                       <div class="col-md-12 description">
                                          <h4>This is the third one on my Gallery</h4>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                           <div class="box">
                              <a href="#" data-toggle="modal" data-target="#4">
                              <img src="images/pro4.jpg" alt="#" />
                              </a>
                              <div class="modal fade" id="4" tabindex="-1" role="dialog">
                                 <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                       <div class="modal-body">
                                          <img src="images/pro4.jpg" alt="#" />
                                       </div>
                                       <div class="col-md-12 description">
                                          <h4>This is the fourth one on my Gallery</h4>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                           <div class="box">
                              <a href="#" data-toggle="modal" data-target="#5">
                              <img src="images/pro5.jpg" alt="#" />
                              </a>
                              <div class="modal fade" id="5" tabindex="-1" role="dialog">
                                 <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                       <div class="modal-body">
                                          <img src="images/pro5.jpg" alt="#" />
                                       </div>
                                       <div class="col-md-12 description">
                                          <h4>This is the fifth one on my Gallery</h4>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                           <div class="box">
                              <a href="#" data-toggle="modal" data-target="#9">
                              <img src="images/pro6.jpg" alt="#" />
                              </a>
                              <div class="modal fade" id="9" tabindex="-1" role="dialog">
                                 <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                       <div class="modal-body">
                                          <img src="images/pro6.jpg" alt="#" />
                                       </div>
                                       <div class="col-md-12 description">
                                          <h4>This is the ninth one on my Gallery</h4>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                           <div class="box">
                              <a href="#" data-toggle="modal" data-target="#10">
                              <img src="images/pro7.jpg" alt="#" />
                              </a>
                              <div class="modal fade" id="10" tabindex="-1" role="dialog">
                                 <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                       <div class="modal-body">
                                          <img src="images/pro7.jpg" alt="#" />
                                       </div>
                                       <div class="col-md-12 description">
                                          <h4>This is the tenth one on my Gallery</h4>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end section -->
      <div id="testimonials" class="section db">
         <div class="container">
            <div class="section-title row text-center">
               <div class="col-md-8 col-md-offset-2">
                  <h3>인기 리뷰</h3>
                  <p class="lead">재치만점 센스있는 꿈 전문가들의 리뷰입니다.</p>
               </div>
               <!-- end col -->
            </div>
            <!-- end title -->
            <div class="row">
               <div class="col-md-12 col-sm-12">
                  <div class="testi-carousel owl-carousel owl-theme">
                     <div class="testimonial clearfix">
                        <div class="desc">
                           <h3><i class="fa fa-quote-left"></i> 와 씨발 이런 프로젝트는 처음이에여!</h3>
                           <p class="lead">제가 일평생 이런 제품이 있으면 좋겠다고 생각했는데 이 프로젝트 진짜 최고네여</p>
                        </div>
                        <div class="testi-meta">
                           <img src="uploads/testi_01.png" alt="" class="img-responsive alignleft">
                           <h4>James Fernando <small>- Manager of Racer</small></h4>
                        </div>
                        <!-- end testi-meta -->
                     </div>
                     <!-- end testimonial -->
                     <div class="testimonial clearfix">
                        <div class="desc">
                           <h3><i class="fa fa-quote-left"></i> 이 프로젝트가 제게 부를 가져다 주었습니다.</h3>
                           <p class="lead">만원 후원했는데 가치가 만배가 올라서 1억을 벌었네요. 스포츠카 한 대 뽑으러 가겠습니다. 모두 성투하십시오.</p>
                        </div>
                        <div class="testi-meta">
                           <img src="uploads/testi_02.png" alt="" class="img-responsive alignleft">
                           <h4>Jacques Philips <small>- Designer</small></h4>
                        </div>
                        <!-- end testi-meta -->
                     </div>
                     <!-- end testimonial -->
                     <div class="testimonial clearfix">
                        <div class="desc">
                           <h3><i class="fa fa-quote-left"></i> ㅇㅅㅇ</h3>
                           <p class="lead">님들 이 프로젝트 짱이에여. </p>
                        </div>
                        <div class="testi-meta">
                           <img src="uploads/testi_03.png" alt="" class="img-responsive alignleft">
                           <h4>Venanda Mercy <small>- Newyork City</small></h4>
                        </div>
                        <!-- end testi-meta -->
                     </div>
                     <!-- end testimonial -->
                     <div class="testimonial clearfix">
                        <div class="desc">
                           <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                           <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                        </div>
                        <div class="testi-meta">
                           <img src="uploads/testi_01.png" alt="" class="img-responsive alignleft">
                           <h4>James Fernando <small>- Manager of Racer</small></h4>
                        </div>
                        <!-- end testi-meta -->
                     </div>
                     <!-- end testimonial -->
                     <div class="testimonial clearfix">
                        <div class="desc">
                           <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                           <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                        </div>
                        <div class="testi-meta">
                           <img src="uploads/testi_02.png" alt="" class="img-responsive alignleft">
                           <h4>Jacques Philips <small>- Designer</small></h4>
                        </div>
                        <!-- end testi-meta -->
                     </div>
                     <!-- end testimonial -->
                     <div class="testimonial clearfix">
                        <div class="desc">
                           <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                           <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                        </div>
                        <div class="testi-meta">
                           <img src="uploads/testi_03.png" alt="" class="img-responsive alignleft">
                           <h4>Venanda Mercy <small>- Newyork City</small></h4>
                        </div>
                        <!-- end testi-meta -->
                     </div>
                     <!-- end testimonial -->
                  </div>
                  <!-- end carousel -->
               </div>
               <!-- end col -->
            </div>
            <!-- end row -->
         </div>
         <!-- end container -->
      </div>
      <!-- end section -->
      <div id="price" class="section pr">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="tab-content">
                     <div class="tab-pane active fade in" id="tab1">
                        <div class="row text-center">
                           <div class="col-md-4">
                              <div class="pricing-table">
                                 <div class="pricing-table-header">
                                    <h2>후원자 평가</h2>
                                    <h3>10 DFC</h3>
                                 </div>
                                 <div class="pricing-table-space"></div>
                                 <div class="pricing-table-features">
                                    <p><i class="fa fa-envelope-o"></i> 모든 후원자들에게 평가참여 이메일을 보냅니다.</p>
                                    <p><i class="fa fa-life-ring"></i> 만들어진 제품을 평가받으세요.</p>
                                 </div>
                                 <div class="pricing-table-sign-up">
                                    <a href="#contact" data-scroll="" class="btn btn-dark btn-radius btn-brd">평가받기</a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="pricing-table pricing-table-highlighted">
                                 <div class="pricing-table-header grd1">
                                    <h2>전문가 평가</h2>
                                    <h3>100 DFC</h3>
                                 </div>
                                 <div class="pricing-table-space"></div>
                                 <div class="pricing-table-text">
                                    <p>엄선된 전문 리뷰어들에게 평가받습니다.</p>
                                 </div>
                                 <div class="pricing-table-features">
                                    <p><i class="fa fa-envelope-o"></i> Dream Factory 의 전문 리뷰어들에게 평가받으세요.</p>
                                 </div>
                                 <div class="pricing-table-sign-up">
                                    <a href="#contact" data-scroll="" class="btn btn-light btn-radius btn-brd grd1 effect-1">평가받기</a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="pricing-table">
                                 <div class="pricing-table-header">
                                    <h2>사용자 평가</h2>
                                    <h3>50 DFC</h3>
                                 </div>
                                 <div class="pricing-table-space"></div>
                                 <div class="pricing-table-features">
                                    <p><i class="fa fa-envelope-o"></i> 모든 유저에게 평가받으세요. </p>
                                 </div>
                                 <div class="pricing-table-sign-up">
                                    <a href="#contact" data-scroll="" class="btn btn-dark btn-radius btn-brd">평가받기</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end row -->
                     </div>
                     <!-- end pane -->
                     <div class="tab-pane fade" id="tab2">
                        <div class="row text-center">
                           <div class="col-md-6">
                              <div class="pricing-table">
                                 <div class="pricing-table-header">
                                    <h2>Dedicated Server</h2>
                                    <h3>$85/month</h3>
                                 </div>
                                 <div class="pricing-table-space"></div>
                                 <div class="pricing-table-features">
                                    <p><i class="fa fa-envelope-o"></i> <strong>250</strong> Email Addresses</p>
                                    <p><i class="fa fa-rocket"></i> <strong>125GB</strong> of Storage</p>
                                    <p><i class="fa fa-database"></i> <strong>140</strong> Databases</p>
                                    <p><i class="fa fa-link"></i> <strong>60</strong> Domains</p>
                                    <p><i class="fa fa-life-ring"></i> <strong>24/7 Unlimited</strong> Support</p>
                                 </div>
                                 <div class="pricing-table-sign-up">
                                    <a href="#contact" data-scroll="" class="btn btn-dark btn-radius btn-brd">Order Now</a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="pricing-table pricing-table-highlighted">
                                 <div class="pricing-table-header grd1">
                                    <h2>VPS Server</h2>
                                    <h3>$59/month</h3>
                                 </div>
                                 <div class="pricing-table-space"></div>
                                 <div class="pricing-table-text">
                                    <p>This is a perfect choice for small businesses and startups.</p>
                                 </div>
                                 <div class="pricing-table-features">
                                    <p><i class="fa fa-envelope-o"></i> <strong>150</strong> Email Addresses</p>
                                    <p><i class="fa fa-rocket"></i> <strong>65GB</strong> of Storage</p>
                                    <p><i class="fa fa-database"></i> <strong>60</strong> Databases</p>
                                    <p><i class="fa fa-link"></i> <strong>30</strong> Domains</p>
                                    <p><i class="fa fa-life-ring"></i> <strong>24/7 Unlimited</strong> Support</p>
                                 </div>
                                 <div class="pricing-table-sign-up">
                                    <a href="#contact" data-scroll="" class="btn btn-light btn-radius btn-brd grd1 effect-1">Order Now</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end row -->
                     </div>
                     <!-- end pane -->
                  </div>
                  <!-- end content -->
               </div>
               <!-- end col -->
            </div>
         </div>
      </div>
      <div id="contact" class="section wb">
         <div class="container">
            <div class="section-title row text-center">
               <div class="col-md-8 col-md-offset-2">
                  <h3>회원가입</h3>
                  <p class="lead">Dream Factory 꿈 여행자 가입서</p>
               </div>
               <!-- end col -->
            </div>
            <!-- end title -->
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="contant-info">
                     <ul class="item-display-block">
                        <li>
                           <div class="info-shape accent-color background fs-23">
                              <div class="icon"><i class="fa fa-home"></i></div>
                           </div>
                           <div class="info-content">
                              <h6 class="uppercase"> Address:</h6>
                              <p> (06651) 서울특별시 서초구 서초중앙로63, 리더스오피스 6층</p>
                           </div>
                        </li>
                        <li>
                           <div class="info-shape accent-color background fs-23">
                              <div class="icon"><i class="fa fa-volume-control-phone"></i></div>
                           </div>
                           <div class="info-content">
                              <h6 class="uppercase"> Phone No:</h6>
                              <p> +82 (02) 587-7001<br>+82 (02) 588-7337 (fax)</p>
                           </div>
                        </li>
                        <li>
                           <div class="info-shape accent-color background fs-23">
                              <div class="icon"><i class="fa fa-envelope-o"></i></div>
                           </div>
                           <div class="info-content">
                              <h6 class="uppercase"> Email Address:</h6>
                              <p>admin@dreamfactory.com</p>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-8">
                  <div class="contact_form">
                     <div id="message"></div>
                     <form id="contactform" class="row" action="contact.php" name="contactform" method="post">
                        <fieldset class="row-fluid">
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="email" name="email" id="email" class="form-control" placeholder="Your Email">
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="phone" id="phone" class="form-control" placeholder="Your Website">
                           </div>
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <label class="sr-only">Select Department</label>
                              <select name="select_service" id="select_service" class="selectpicker form-control" data-style="btn-white">
                                 <option value="12">포지션</option>
                                 <option value="Building Service">개발자</option>
                                 <option value="Tover Design">후원자</option>
                                 <option value="Others">모두</option>
                              </select>
                           </div>
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Give us more details.."></textarea>
                           </div>
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                              <button type="submit" value="SEND" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">제출</button>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
               <!-- end col -->
            </div>
            <!-- end row -->
         </div>
         <!-- end container -->
      </div>
      <!-- end section -->
      <!-- footer -->
      <footer id="footer">
         <div id="footer-widgets" class="container style-1">
            <div class="row">
               <div class="col-md-4">
                  <div class="widget widget_text">
                     <h2 class="widget-title"><span>ABOUT US</span></h2>
                     <div class="textwidget">
                        <a class="navbar-brand" href="index-building.html"><img src="images/icon.png" alt="image"><span>Dream Factory</span></a>
                        <p>ETRI 블록체인 전문 개발자 양성과정에서 만들어진 팀</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="widget widget_links">
                     <h2 class="widget-title"><span>링크</span></h2>
                     <ul class="wprt-links clearfix col2">
                        <li><a data-scroll="" href="#home">홈</a></li>
                        <li><a data-scroll="" href="#about">팀소개</a></li>
                        <li><a data-scroll="" href="#services">서비스</a></li>
                        <li><a data-scroll="" href="#projects">인기 프로젝트</a></li>
                        <li><a data-scroll="" href="#testimonials">인기 리뷰</a></li>
                        <li><a data-scroll="" href="#price">리뷰신청</a></li>
                        <li><a data-scroll="" href="#contact">회원가입</a></li>
					 </ul>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="widget widget_information">
                     <h2 class="widget-title"><span>CONTACT INFO</span></h2>
                     <ul>
                        <li class="address clearfix">
                           <span class="hl">Address:</span>
                           <span class="text">(06651) 서울특별시 서초구 서초중앙로63, 리더스오피스 6층</span>
                        </li>
                        <li class="phone clearfix">
                           <span class="hl">Phone:</span>
                           <span class="text">+82 (02) 587-7001</span>
                        </li>
                        <li class="email clearfix">
                           <span class="hl">E-mail:</span>
                           <span class="text">admin@dreamfactory.com</span>
                        </li>
                     </ul>
                  </div>
                  <div class="widget widget_socials">
                     <div class="socials">
                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-dribbble"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="bottom" class="clearfix style-1">
            <div class="container">
               <div id="bottom-bar-inner" class="wprt-container">
                  <div class="bottom-bar-inner-wrap">
                     <div class="bottom-bar-content">
                        <div id="copyright">All Rights Reserved. DreamFactory © 2019</div>
                        <!-- /#copyright -->
                     </div>
                     <!-- /.bottom-bar-content -->
                     <div class="bottom-bar-menu pull-right">
                        <ul class="bottom-nav">
                           <li><a href="#/">HISTORY</a></li>
                           <li><a href="#/">FAQ</a></li>
                           <li><a href="#/">EVENTS</a></li>
                        </ul>
                     </div>
                     <!-- /.bottom-bar-menu -->
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
      <!-- ALL JS FILES -->
      <script src="js/all.js"></script>
      <!-- ALL PLUGINS -->
      <script src="js/custom.js"></script>
      <script src="js/portfolio.js"></script>
      <script src="js/hoverdir.js"></script>
   </body>
</html>
