<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>

<table class="table table          -hover">
	<thead>
	<tr>
		<th>번호</th>
		<th>제목</th>
		<th>작성자</th>
		<th>날짜</th>
		<th>조회수</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>3</td>
		<td>드림 팩토리 프로젝트 테스트 3</td>
		<td>go lang</td>
		<td>2019.12.19</td>
		<td>100</td>
	</tr>

	<tr>
		<td>2</td>
		<td>드림 팩토리 프로젝트 테스트 2</td>
		<td>go lang</td>
		<td>2019.12.18</td>
		<td>50</td>
	</tr>

	<tr>
		<td>1</td>
		<td>드림 팩토리 프로젝트 테스트 1</td>
		<td>go lang</td>
		<td>2019.12.17</td>
		<td>10</td>
	</tr>
	</tbody>
</table>

<hr />
<a class="btn btn-default" onclick="location.href='./project board write.html' ">글쓰기</a> <!-- 글쓰기 버튼 활성화 완료 -->
<a class="btn btn-default" onclick="location.href='./index.html' ">홈 화면</a> <!-- 홈 화면 버튼 활성화 완료 -->

<div class="text-center">
	<ul class="pagination">
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
	</ul>
</div>

<script src="js/jquery-3.1.1.js"></script>
<script src="js/bootstrap.js"></script>



</body>
</html>
