<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="style.css">
<!-- Colors CSS -->
<link rel="stylesheet" href="css/colors.css">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="css/versions.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="css/responsive.css">
<!-- building CSS -->
<link rel="stylesheet" href="css/building.css">


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


<title>board</title>

<script>
	$(document).on('click', '#btnSave', function(e){
		e.preventDefault();
		$("#form").submit();
	}); <!-- #btnSave라는 id를 가진 버튼을 클릭하면 동작하는 스크립트-->

	$(document).on('click', '#btnList', function(e){
		e.preventDefault();
		location.href="${pageContext.request.contextPath}/board/getBoardList";
	});

</script>
<style>
body {
  padding-top: 70px;
  padding-bottom: 30px;
}
</style>
</head>

<body>
	<article>
		<div class="container" role="main">
			<h2>프로젝트 후원하기</h2>
			<form name="form" id="form" role="form" method="post" action="${pageContext.request.contextPath}/board/saveBoard">
				<div class="mb-3">
					<label for="reg_id">프로젝트 선택</label>
					<select name="select_service" id="v" class="form-control" data-style="btn-white">
							<option value="Selct">선택</option>
							<option value="1">프로젝트 1</option>
							<option value="2">프로젝트 2</option>
							<option value="3">프로젝트 3</option>

					 </select>
				</div>
				<div id="display_option" class="mb-3" style="display: none">
					<label for="content">후원 금액</label>
					<input type="text" class="form-control" name="reg_id" id="reg_id" placeholder="후원 금액을 입력해 주세요">
				</div>
			</form>
			<div>
				<button type="button" class="btn btn-sm btn-primary" id="btnSave">확인</button> <!-- 저장 링크 코드 수정하기 미완료 !!-->
				<button type="button" class="btn btn-sm btn-primary" onclick="location.href='./index.html' " >취소</button> <!-- 취소 버튼 활성화 완료 -->
			</div>
		</div>
	</article>
</body>
</html>
