<html>
<head>
<title>4억 돌파ㅣ바이오산업 투자ㅣ전임상 완료ㅣCAR-T치료제 | 드림 팩토리 - 크라우드펀딩</title>

<style>
.circle { list-style-type: circle; } <!-- 매력 포인트 리스트 css -->
</style>

</head>
<body>


<pre>
<img src="./project_image/project1/project1-001.png">


<iframe width="560" height="315" src="https://www.youtube.com/embed/AFrqz1lMUaA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<img src="./project_image/project1/project1-002.png">

<span style = " font-size:1.5em; ">
<b>기업소개</b>
</span>

바이오큐어팜은 혁신적인 면역세포 치료제인 CAR-T Cell Immunotherapy 및 바이오의약품 전문 회사입니다. 
3세대 면역항암치료제의 핵심기술인 CAR-T 세포치료제를 기반으로 면역 암 치료제의 세계적인 리더로 성장하려 합니다. 
한국 최초의 다국적 바이오의약품 기업이 되는 것이 바이오큐어팜의 최종 목표입니다.

<!--
<div class="slick-list">
<div class="slick-track" style="opacity: 1; transform: translate3d(-869px, 0px, 0px); width: 3057px; transition: -webkit-transform 500ms ease 0s;">
<div data-index="0" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none;">
<div>
<div tabindex="-1" style="width: 100%; display: inline-block;">
<div class="EquityCampaignPoints_item__3Dx-B">

<div class="EquityCampaignPoint_container__3Yu5Y">
<p class="EquityCampaignPoint_title__Zji49">전임상 완료 및 2021년 기업공개(IPO) 목표</p>
<div class="EquityCampaignPoint_content__1T_JE">
<p>2017년 12월부터 2018년 10월까지 약 10개월 동안 CAR-T 세포 치료제의 전임상을 완료하였습니다. 
또한, 바이오큐어팜은 2021년 IPO를 진행할 예정입니다. 비슷한 사업모델을 갖고 있는 기업의 상장 초기 시가총액과 비슷한 수준인 약 4천억~ 5천억 원으로 예상됩니다.</p></div></div></div></div></div></div>
<div class="EquityCampaignPoint_container__3Yu5Y"><p class="EquityCampaignPoint_title__Zji49">전임상 완료 및 2021년 기업공개(IPO) 목표</p>
<div class="EquityCampaignPoint_content__1T_JE">
<p>2017년 12월부터 2018년 10월까지 약 10개월 동안 CAR-T 세포 치료제의 전임상을 완료하였습니다. 
또한, 바이오큐어팜은 2021년 IPO를 진행할 예정입니다. 비슷한 사업모델을 갖고 있는 기업의 상장 초기 시가총액과 비슷한 수준인 약 4천억~ 5천억 원으로 예상됩니다.</p>
</div></div></div></div></div></div>

<div data-index="1" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none;"><div>
<div tabindex="-1" style="width: 100%; display: inline-block;">
<div class="EquityCampaignPoints_item__3Dx-B">
<div class="EquityCampaignPoint_container__3Yu5Y"><p class="EquityCampaignPoint_title__Zji49">혁신적인 3세대 면역항암치료제(세포 유전자 치료제) 기술 보유</p>
<div class="EquityCampaignPoint_content__1T_JE"><p>3세대 항암치료제는 1, 2세대 항암치료제의 단점을 극복한 면역항암치료제로 높은 완치율 및 면역세포 활성화를 통한 자연치유의 강점입니다. 
당사는 CAR-T cell을 이용한 백혈병 치료제를 개발 중이며, CAR-T 세포치료제는 다양한 종류의 암에 시도 중에 있습니다.</p></div></div></div></div></div></div>

<div data-index="2" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none;"><div>
<div tabindex="-1" style="width: 100%; display: inline-block;">
<div class="EquityCampaignPoints_item__3Dx-B"><div class="EquityCampaignPoint_container__3Yu5Y">
<p class="EquityCampaignPoint_title__Zji49">새로운 트렌드로 주목받는 72백만 달러 시장</p><div class="EquityCampaignPoint_content__1T_JE">
<p>전 세계 CAR-T 세포치료제 시장은 2017년 기준 72백만 달러로 2017~2028년 기간 동안 연간 약 53.9%의 연평균 성장률을 보이며 기하급수적으로 성장할 것으로 예상됩니다.
</p></div></div></div></div></div></div></div></div> -->

<span style = " font-size:1.5em; ">
<b>비즈니스 전략</b> 
</span>

<img src="./project_image/project1/project1-1.png">


<ul class="circle"> <!-- 매력 포인트 리스트 css -->
<li><b>매력 포인트 1</b></li>: 국내 <font class="font_underline"><u><b>최초 CAR-T 세포를 이용한 백혈병 치료제를 개발</b></u></font>
<li><b>매력 포인트 2</b></li>: 전임상 완료. <font class="font_underline"><u><b>94% 완전 관해율</b></u></font>을 확인한 중국 북경인민병원 임상. <font class="font_underline"><u><b>국내 임상 1상 아산 병원 & 성모병원에서 진행</b></u></font> 예정
<li><b>매력 포인트 3</b></li>: 전 세계 바이오 분야의 뜨거운 관심을 받고 있는 CAR-T 시장. '28년까지 연간 <font class="font_underline"><u><b>약 53.9% 성장</b></u></font> 예상
<li><b>매력 포인트 4</b></li>: 이미 다양한 투자 유치 경험 보유
- 2019년 2월: 기업가치 <font class="font_underline"><u><b>350억</b></u></font>에 (보통주) 미래에셋대우에서 결성된 BHA (<b>바이오헬스케어협회 투자조합 펀드 3호</b>) 로부터 <font class="font_underline"><u><b>9.4억</b></u></font>의 투자를 유치하였습니다.
- 2019년 9월: 기업가치 <font class="font_underline"><u><b>412억</b></u></font>에 (CB) WFA (제21호 개인투자조합)로부터 <font class="font_underline"><u><b>4.4억</b></u></font>의 투자를 유치하였습니다
</ul>

<span style = " font-size:1.5em; "> <!-- <u><span class="font"> </span></u> -->
<b>Exit 전략</b> 
</span>

<img src="./project_image/project1/project1-2.png">


바이오큐어팜은 당사의 CAR-T가 임상 1상만 진행되더라도 회사의 가치가 상당히 올라갈 것으로 추정하고 있습니다. 
CAR-T 임상은 1, 2상만으로 승인을 얻을 수 있으므로, 
임상 1상부터 실제 말기 백혈병 환자를 대상으로 부작용과 효능 시험을 하게 됩니다. 

바이오큐어팜이 생각하는 EXIT전략은 <b>임상 2상 진행 중에 <font class="font_underline"><u><span class="font">IPO를 추진<br></span></u></b></font> 하는것 입니다.

임상 1상 결과가 나오면 임상 2상의 결과를 짐작할 수 있는 구도로 되어 있어, 
<b>임상 2상을 마쳐가는 시점이 IPO를 추진하기에 가장 적당한 시기</b>라고 판단됩니다.


<span style = " font-size:1.5em; ">
<b>M&A 가능성</b> 
</span>
또 하나의 전략은 CAR-T 승인 후, 세계적인 제약사와 M&A를 생각해 볼 수 있습니다.

단, 이 경우는 저희가 CAR-T 승인을 받고, 세계 시장에 진출할 때쯤에 고려해 볼 수 있을 것 같습니다. 
하지만 현재 CAR-T를 시술할 수 있는 회사가 미국 2개뿐이라서 세계 시장에서 상당한 주목을 받을 수 있을 것으로 예상 할 수 있습니다.

<span style = " font-size:1.5em; ">
<b>핵심기술</b> 
</span>

<img src="./project_image/project1/project1-3.png">

면역항암요법(Cancer immunotherapy)이란 인체의 면역체계를 활성화시켜서 암세포와 싸우게 하는 암 치료법입니다. 
<b>3세대 면역항암제</b>는 1960~70년대 1세대 세포독성 항암제, 1999년 2세대 표적항암제에 이어, 
암 치료의 새로운 패러다임으로 사이언스지는 <b>2013년 '올해의 연구'(breakthrough of the year)로 면역항암제를 선정한 바 있습니다.</b>

3세대 항암치료제는 1세대와 2세대 항암치료제의 단점을 모두 극복한 면역항암치료제로 
<b><font class="font_underline"><u>높은 완치율</u></font> 및 면역세포 활성화를 통한 <font class="font_underline"><u>자연치유의 강점</font></u></b>을 갖고 있습니다.


<img src="./project_image/project1/project1-4.png">
<img src="./project_image/project1/project1-5.png">


바이오큐어팜은 국내 최초 CAR-T 세포를 이용한 백혈병 치료제를 개발하고 있습니다. 
당사가 개발 중인 치료제는 환자에게서 채취한 T세포의 유전자 재조합을 통해 암세포를 
사멸시키도록 하는 치료제로 환자 개개인에 맞춰 제조한 뒤 다시 환자에게 주입하여 치료합니다 

2018년 10월 전임상을 완료하여 2019년 12월 임상 1상을 준비중에 있습니다. 
CAR-T 세포치료제 기술은 미국의 노바티스(킴리아)와 길리어드(예스카타) 외에 허가받은 회사가 없는 새로운 신약 분야입니다.

바이오큐어팜이 CAR-T 세포치료제 사업화를 성공하면, 세계에서 3번째이며 미국을 제외한 국가에서는 최초입니다. 
많은 급성백혈병 환자들을 치료할 수 있고, 
CAR-T 세포치료제 기술을 이용한 차세대 고형 암 치료제 개발 등 관련 산업의 파급효과가 매우 클 것으로 기대됩니다.



<img src="./project_image/project1/project1-6.png">

급성백혈병을 적응증으로 하는 바이오큐어팜의 CAR-T 세포치료제는 유전자 세포치료제로 분류되며 최근 발표된 
첨단 재생의료 및 첨단 바이오의약품 안전 및 지원에 관한 법률[2019년 8월 27일 제정, 2020년 8월 28일 시행]이 통과되어 
희귀질환 치료를 위한 바이오의약품 우선심사 혜택 및 임상 결과에 따라 2상 이후 조건부 승인을 받을 수 있습니다. 


<img src="./project_image/project1/project1-7.png">


바이오큐어팜의 CAR-T 세포치료제 기술은 중국 북경인민병원에서 63케이스의 말기 백혈병 환자를 대상으로 연구자 임상이 진행되었습니다. 
피험자 63명 중 59명에서 완전 관해가 확인되었습니다. 
이러한 결과는 다국적 제약회사인 노바티스의 '킴리아'의 임상 2상에서 발표한 수치인 83%보다 높은 94%입니다.

2019년 4월 서울아산병원 소아 혈액종양내과 김혜리 교수의 환자 중 급성 말기의 소아환자 치료를 위해 중국의 업체와 협의하여 
바이큐어팜 CAR-T 세포 치료제 기술로 시술받아 4주만인 2019년 5월 완전관해를 기록하였으며 환자는 현재 서울아산병원에서 지속치료를 받고 있습니다

현재 시판 중인 CAR-T 세포치료제의 유효성은 이미 검증되었지만 1회 투여 비용은 약 40만 달러에 육박하는 매우 고가의 치료제입니다. 
바이오큐어팜은 이가격을 크게 낮출 수 있다고 판단하고 있습니다. 
더 많은 사람들을 살릴 수 있는 가격 구조로 만들 것이며, 이를 토대로 세계시장에 진출할 계획입니다.

<img src="./project_image/project1/project1-8.png">


당사가 개발 중인 치료제는 <b>환자에게서 채취한 T 세포의 유전자 재조합</b>을 통해 
암세포를 사멸시키도록 하는 치료제로 <b>환자 개개인에 맞춰 제조한 뒤 다시 환자에게 주입</b>하여 치료합니다.


<img src="./project_image/project1/project1-9.png">


최근 몇 년 간 CAR-T 세포치료제는 바이오/헬스케어 산업에서 큰 관심을 받고 있습니다. 
CAR-T 세포치료제 기술은 현재 초기 단계이지만, 두 자릿수 성장률을 토대로 가까운 미래에 확실한 금전적 기회를 만들어낼 것으로 예상됩니다.


<img src="./project_image/project1/project1-10.png">
</pre>

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
< 출처: <a href="https://life.ytn.co.kr/program/program_view.php?key=201903061703052241&page=4" title="YTN 비즈라이프">YTN 비즈라이프 (이상목 대표 인터뷰: 14분 9초~20분20초)</a>>

<pre>

글로벌 CAR-T Cell 치료제 시장은 2017년 7,200만 달러 규모를 형성, 
향후 11년간(17년~28년) 연평균 성장률 53.9%로 꾸준히 성장하여 2028년에는 83억 달러 규모로 확대될 전망입니다.

<img src="./project_image/project1/project1-11.png">

<img src="./project_image/project1/project1-12.png">

글로벌 CAR-T Cell 치료제 시장을 표적 항원별로 살펴보면, CD19 항원에 대응하는 CAR-T Cell 치료제 시장이 2017년부터 2028년까지 가장 많은 점유율을 차지하고 있습니다.

<img src="./project_image/project1/project1-13.png">


CD19는 급성 림프구성 백혈병, 만성림프성 백혈병 등 혈액 암에서 매우 두드러지며, 현재 CD19가 발현되는 암을 표적으로 한 CAR-T Cell 치료제 연구가 다수 진행 중입니다.


<img src="./project_image/project1/project1-14.png">

CAR-T는 다른 신약과는 달리 임상 1상과 2상을 마치면 심사 후에 시판 허가가 나오는 품목입니다. 
임상 1상은 12월 말경에 <font class="font_underline"><b><u>아산병원과 성모병원에서 진행</u></b></font> 할 예정 입니다.

소요 기간은 임상 1상 1년, 임상 2상 1년이 걸릴 것으로 예상 되며, 
임상 1상은 대상 환자가 9명이고 임상 2상은 25~30명가량 될 것으로 예상하고 있습니다.

이미 베이징 인민병원에서 63명의 말기 백혈병 환자들 대상으로 CAR-T 시술을 하여 59명의 완전 관해를 기록하였습니다. 
바이오큐어팜은 본 허가 임상도 반드시 성공할 것을 자신하고 있습니다.


<img src="./project_image/project1/project1-15.png">

해외 임상은 독일 베를린의 샤리테병원과 쾰른 대학병원 중 한 곳을 임상 시험을 진행할 예정입니다. EU 임상을 진행하여, 다른 EU 국가에도 동시에 진출할 계획을 갖고 있습니다.

<img src="./project_image/project1/project1-15-1.png">

<img src="./project_image/project1/project1-16.png">

대전 비즈니스과학벨트 단지 내에 CAR-T 생산 공장용으로 2,000평을 과학기술부로부터 분양을 받았으며 2022년경에 완공될 예정입니다. 
그전의 임상 시료 등의 생산은 크레아젠, 씨드모젠 등의 국내 GMP 적격업소에 위탁하여 생산을 할 예정입니다.

<img src="./project_image/project1/project1-17.png">


바이오큐어팜의 전략은 CAR-T 생산의 글로벌 현지화입니다.

현지 국가에서 환자가 제조 의뢰 시, 그 나라의 현지에서 환자의 혈액을 채취하여 T세포를 배양합니다. 
그와 동시에 한국의 바이오큐어팜에서 항원을 갖고 있는 Lenti virus를 비행기로  
직접 공급하여 현지에서 CAR-T를 완성한 후, 현지 환자에게 즉시 투여하는 방식입니다.

반면에 현재까지 세계에서 유일한 CAR-T 제조사인 노바티스와 길리어드는 미국과 일부 지역에 
공장을 지어 전 세계 환자의 혈액을 얼려 공장으로 가져온 다음, CAR-T를 제조하고 다시 환자의 국가로 재이송 하는 전략을 구사하고 있습니다.

이렇게 되면 크리티컬한 말기 환자들은 CAR-T 제조 시일 외에 약 1주일의 시간이 더 걸리게 되고, 
얼리고 녹이는 과정이 빈번함에 따라 CAR-T 제조의 실패 확률도 높아지게 됩니다. 
그리고 특수 냉동 운반 시스템을 가동하므로 경비도 당연히 많이 상승합니다.


<img src="./project_image/project1/project1-18.png">

<ul class="circle">
<b>장점 1</b>: 가장 신속하게 CAR-T를 말기 백혈병 환자에게 투여할 수 있습니다

<li>국외로 혈액을 보내지 않아도 되므로, 환자로부터 혈액을 채취한 후 CAR-T를 주사할 때까지 경쟁사 대비, 약 1주일은 빨리 투여할 수 있습니다.</li>


<b>장점 2</b>: 세계 각국에서 현지 생산하므로 얼리는 과정을 최소화할 수 있습니다 이는 CAR-T의 생산 성공률을 높일 수 있습니다.

<li>말기 환자의 혈액에서 T세포를 추출해야 하는데, 대부분의 환자들은 이미 면역 시스템이 약해져 있습니다. </li>
이들의 혈액에서 T세포를 분리해 내어야 하기 때문에 냉동과 해동을 반복하는 것은 CAR-T 제조 성공률을 현저히 떨어뜨리게 됩니다.


<b>장점 3</b>: 미국으로 혈액을 특수 냉동 운반 시스템으로 공수하여 왕복을 하지 않아도 되므로 환자의 경제적 부담을 경감 시킬 수 있습니다.


<b>장점 4</b>: 각국에 파트너를 선정하거나 바이오큐어팜이 지사 형태로 운영하여 CAR-T를 제조하여 공급하게 되므로 동시에 다국가에 CAR-T를 신속하게 공급할 수 있습니다.

<li>현재 독일, 불가리아, 말레이시아 등 협력사 구축을 위한 논의를 진행 중이며 향후 이들 국가 중 1개국에서 조인트 벤처 설립하여 세계시장 진출 모델로 삼을 예정입니다.</li>
</ul>

<img src="./project_image/project1/project1-19.png">


바이오큐어팜의 1차 목표는 CAR-T의 말기 백혈병 치료제로서의 허가 및 세계시장 진출입니다. 하지만 이것이 최종 목표는 아닙니다. 

CAR-T가 말기 백혈병에 워낙 뛰어난 치료 효과를 보이고 있기 때문에, 많은 과학자들이 CAR-T를 좀 더 발전시키면 훌륭한 고형암 치료제를 만들 수 있다는 생각을 가지고 있습니다.


<img src="./project_image/project1/project1-20.png">


바이오큐어팜의 최종 목표는 이 CAR-T 기술을 발전시켜, 위암, 폐암, 췌장암, 대장암, 난소암 등을 치료할 수 있는 고형암 치료제의 개발입니다. 
이를 위해서 와이바이오로직스와 PD-1 과 CAR-T를 병용 투여하여 고형암 치료제로 개발하는 협약을 하였으며, 
독일의 Probiogen 사, 캐나다의 Iprogen 사와 공동 개발하기 위한  합의를 마친 상태입니다. 
이 고형암 치료제는 2022~2023년 사이에 임상에 돌입할 것으로 예상됩니다.


<img src="./project_image/project1/project1-21.png">

<img src="./project_image/project1/project1-22.png">

<img src="./project_image/project1/project1-23.png">


바이오큐어팜은 혁신적인 면역세포 치료제인 CAR-T Cell Immunotherapy 및 바이오의약품 전문 회사입니다. 
바이오큐어팜의 이상목 대표는 1988년 보령제약 중앙 연구소에서 의약품 개발을 시작으로 CJ제일제당, 대웅제약 바이오사업부 등 바이오의약품 업계에서 31년간 종사하였습니다.

바이오의약품을 제조에 필요한 유전자 재조합기술, 배양 기술, 정제기술 등 바이오의약품 연구개발과 대량생산이 가능한 기술을 바탕으로 
2005년 창업하여 다발성경화증 치료제인 BCP101 (인터페론-베타)과 황반 변성 치료제인 BCP201 (라니비쥬맙), 항암제 치료제인 BCP102 (G-CSF)를 개발하였습니다.

바이오큐어팜은 현재 개발한 CAR-T 세포치료제를 기반으로 말기 백혈병 치료제뿐만 아니라 
이를 응용한 폐암, 위암, 췌장암, 대장암 등의 고형 암 치료제 개발을 목표로 하고 있습니다. 
바이오큐어팜은 세계 시장으로 진출하여 한국 최초의 다국적 바이오의약품 기업이 되는 것이 최종 목표입니다.


<h1><b>투자자에게 한마디</b></h1>

바이오큐어팜의 CAR-T는 말기 재발성/난치성 백혈병에 한 번의 치료로 90% 이상의 완전 관해율을 나타내는 획기적인 암 치료제입니다.

이 기술을 개발하고 승인을 받기에는 엄청난 투자와 노력이 있었습니다. 바이오의약품 산업은 투자가 선행되어야 하고, 
투자가 이루진 이후에도 또다시 5~10년의 기다림이 있어야 합니다. 바이오큐어팜의 CAR-T는 많은 부분 완성되었습니다. 
이 기술을 중국에서 가장 큰 병원에서 죽어가는 말기 백혈병 환자 63명을 대상으로 시술하여 이중 59명의 완전 관해를 이끌어 냈습니다. 
94%의 완전 관해율 입니다. 이제 결실을 보기까지는 이 결과를 국내 임상으로 재현하는 과정만 남았습니다.

이 과정을 통과하면 세계 시장에서 블록버스터의 바람을 불러일으킬 수 있는 단계로 접근할 수 있습니다.

이렇게 결과에 대한 예측을 할 수 있는 바이오의약품은 많지 않습니다. 하지만 바이오큐어팜의 CAR-T는 사전에 입증되었습니다. 
그리고 이 결과 후에는 상당히 긍정적인 결과로 투자자 여러분들께 되돌려 드릴 수 있을 것을 확신합니다.


<img src="./project_image/project1/project1-24.png">

<img src="./project_image/project1/project1-25.png">

<img src="./project_image/project1/project1-26.png">

<img src="./project_image/project1/project1-27.png">


<img src="./project_image/project1/project1-28.png">

</pre>
<!-- 출처 https://www.wadiz.kr/web/equity/campaign/2989 와디즈 펀딩 사이트에서 테스트를 위해 가져옴 -->

<style type="text/css">

.font { font-size: 20px; color: black;}

.font_underline { color: #00cca3;}

</style>




</body>

</html>

