<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- Site Metas -->
   <title>Dream Factory - Responsive HTML5 Landing Page Template</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="shortcut icon" href="images/fevicon.ico.png" type="image/x-icon" />
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <!-- Site CSS -->
   <link rel="stylesheet" href="style.css">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="css/colors.css">
   <!-- ALL VERSION CSS -->
   <link rel="stylesheet" href="css/versions.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- building CSS -->
   <link rel="stylesheet" href="css/building.css">
   </head>
   <body class="building_version" data-spy="scroll" data-target=".header">

<div id="testimonials" class="section db">
   <div class="container">
      <div class="section-title row text-center">
         <div class="col-md-8 col-md-offset-2">
            <h3>인기 리뷰</h3>
            <p class="lead">재치만점 센스있는 꿈 전문가들의 리뷰입니다.</p>
         </div>
         <!-- end col -->
      </div>
      <!-- end title -->
      <div class="row">
         <div class="col-md-12 col-sm-12">
            <div class="testi-carousel owl-carousel owl-theme">
               <div class="testimonial clearfix">
                  <div class="desc">
                     <h3><i class="fa fa-quote-left"></i> 와 씨발 이런 프로젝트는 처음이에여!</h3>
                     <p class="lead">제가 일평생 이런 제품이 있으면 좋겠다고 생각했는데 이 프로젝트 진짜 최고네여</p>
                  </div>
                  <div class="testi-meta">
                     <img src="uploads/testi_01.png" alt="" class="img-responsive alignleft">
                     <h4>James Fernando <small>- Manager of Racer</small></h4>
                  </div>
                  <!-- end testi-meta -->
               </div>
               <!-- end testimonial -->
               <div class="testimonial clearfix">
                  <div class="desc">
                     <h3><i class="fa fa-quote-left"></i> 이 프로젝트가 제게 부를 가져다 주었습니다.</h3>
                     <p class="lead">만원 후원했는데 가치가 만배가 올라서 1억을 벌었네요. 스포츠카 한 대 뽑으러 가겠습니다. 모두 성투하십시오.</p>
                  </div>
                  <div class="testi-meta">
                     <img src="uploads/testi_02.png" alt="" class="img-responsive alignleft">
                     <h4>Jacques Philips <small>- Designer</small></h4>
                  </div>
                  <!-- end testi-meta -->
               </div>
               <!-- end testimonial -->
               <div class="testimonial clearfix">
                  <div class="desc">
                     <h3><i class="fa fa-quote-left"></i> ㅇㅅㅇ</h3>
                     <p class="lead">님들 이 프로젝트 짱이에여. </p>
                  </div>
                  <div class="testi-meta">
                     <img src="uploads/testi_03.png" alt="" class="img-responsive alignleft">
                     <h4>Venanda Mercy <small>- Newyork City</small></h4>
                  </div>
                  <!-- end testi-meta -->
               </div>
               <!-- end testimonial -->
               <div class="testimonial clearfix">
                  <div class="desc">
                     <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                     <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                  </div>
                  <div class="testi-meta">
                     <img src="uploads/testi_01.png" alt="" class="img-responsive alignleft">
                     <h4>James Fernando <small>- Manager of Racer</small></h4>
                  </div>
                  <!-- end testi-meta -->
               </div>
               <!-- end testimonial -->
               <div class="testimonial clearfix">
                  <div class="desc">
                     <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                     <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                  </div>
                  <div class="testi-meta">
                     <img src="uploads/testi_02.png" alt="" class="img-responsive alignleft">
                     <h4>Jacques Philips <small>- Designer</small></h4>
                  </div>
                  <!-- end testi-meta -->
               </div>
               <!-- end testimonial -->
               <div class="testimonial clearfix">
                  <div class="desc">
                     <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                     <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                  </div>
                  <div class="testi-meta">
                     <img src="uploads/testi_03.png" alt="" class="img-responsive alignleft">
                     <h4>Venanda Mercy <small>- Newyork City</small></h4>
                  </div>
                  <!-- end testi-meta -->
               </div>
               <!-- end testimonial -->
            </div>
            <!-- end carousel -->
         </div>
         <!-- end col -->
      </div>
      <!-- end row -->
   </div>
   <!-- end container -->
</div>
<!-- end section -->

<a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
<!-- ALL JS FILES -->
<script src="js/all.js"></script>
<!-- ALL PLUGINS -->
<script src="js/custom.js"></script>
<script src="js/portfolio.js"></script>
<script src="js/hoverdir.js"></script>
</body>
</html>
